@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html{
        @apply   overflow-x-hidden
    }
    p{
        @apply   font-normal text-[15px]   text-gray-500 
    }
}


@layer components{
    .link_item{
        @apply    text-[15px] px-[14px] py-[5px]   text-gray-500 hover:text-purple-500 transition-all font-medium duration-300 flex gap-[10px] items-center
    }
    .link_item.active{
        @apply    px-[14px] py-[5px]   font-medium   text-purple-500
    }
    .my_btn{
        @apply px-6 py-[18px] mb-5  leading-none text-white transition duration-300  rounded-md hover:bg-purple-700 focus:ring-4 focus:ring-purple-100 bg-purple-500
    }
    .input_inner{
        @apply flex items-center w-full px-5 py-4 mr-2 text-sm font-normal border border-gray-300 outline-none    text-gray-700 rounded
    }
    .page_link{
        @apply w-[40px] h-[40px] flex justify-center items-center rounded-lg  font-semibold   bg-purple-50 text-purple-600 
    }
    .active_link{
        @apply w-[40px] h-[40px] flex justify-center items-center rounded-lg  font-semibold   bg-purple-600 text-white
    }
}


.file-input {
    display: none;
}

.file-label {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #e2e8f0; /* bg-gray-200 */
    border-radius: 0.125rem; /* rounded-sm */
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-label:hover {
    background-color: #cbd5e0; /* hover:bg-gray-300 */
}

.file-label:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6); /* focus:shadow-outline */
}

.hidden {
    display: none;
  }
  
  .file-label {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #e2e8f0; /* bg-gray-200 */
    border-radius: 0.125rem; /* rounded-sm */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .file-label:hover {
    background-color: #cbd5e0; /* hover:bg-gray-300 */
  }
  
  .file-label:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6); /* focus:shadow-outline */
  }
  
  .file-list {
    margin-top: 1rem;
  }
  